@use 'variables';
@use 'hero';
@use 'attractions';
@use 'sponsor';
@use 'footer';

* {
    padding:0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Helvetica Nue, Arial, Helvetica, sans-serif;
    color: variables.$textColor;
}

.container {
    max-width: 960px;
    min-height: 100vh;

    @media (max-width:640px) {
        width: 80%;
        margin: 0 auto;
    }
}

@font-face {
    font-family: Interstate-Black Cond;
    src: url(../../assets/interstate-black-cond-58b642507872b.otf);
    font-weight: 400;

}

@font-face {
    font-family: Helvetica Nue;
    src: url(../../assets/HelveticaNeueRoman.otf);
    font-weight: 400;
}

@font-face {
    font-family: Helvetica Nue;
    src: url(../../assets/HelveticaNeueBold.otf);
    font-weight: 700;
}

